ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


#frame1 {
	width:50%;
	height:500px; /* you have to specify width and heigth, otherwise overflow has no meaning */
  border:none;
	overflow-x:hidden;
	overflow-y:hidden
}
/* optionally, you could add the following code, to keep scrolling (but not the scrollbar) for touchscreen devices */
#frame1::-webkit-scrollbar {
    display: none;
}
#guide:hover{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 3s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {left:0px; top:0px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}
@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -3px) rotate(-1deg); }
  20% { transform: translate(-4px, 1px) rotate(1deg); }
  30% { transform: translate(4px, 3px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-2px, 3px) rotate(-1deg); }
  60% { transform: translate(-4px, 2px) rotate(0deg); }
  70% { transform: translate(4px, 2px) rotate(-1deg); }
  80% { transform: translate(-2px, -2px) rotate(1deg); }
  90% { transform: translate(4px, 3px) rotate(0deg); }
  100% { transform: translate(5px, -6px) rotate(-1deg); }
}
